<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Config Redirect</title>
</head>
<body>
    <div class="container border">
        <div class="row justify-content-center border-bottom">
            <div class="col- text-center">
                <h2><a href="https://github.com/granny/Redirect">Config Redirect</a></h2>
                <p>Terribly built, but get's the job done</p>
            </div>
        </div>
        <div class="row justify-content-center pt-2">
            <div class="col-">
                <h3>Paths that work (based on DiscordSRV's directory):</h3>
                <p>https://config.granny.dev/ORG/PROJECT/BRANCH/FILE/LANG/OPTION</p>
                <pre>(Full Path)</pre>
                <p>https://config.granny.dev/BRANCH/FILE/LANG/OPTION</p>
                <pre>(Assuming ORG=\"DiscordSRV\", PROJECT=\"DiscordSRV\")</pre>
                <p>https://config.granny.dev/BRANCH/FILE/OPTION</p>
                <pre>(Assuming ORG=\"DiscordSRV\", PROJECT=\"DiscordSRV\", LANG=\"en\")</pre>
                <p>https://config.granny.dev/FILE/OPTION</p>
                <pre>(Assuming ORG=\"DiscordSRV\", PROJECT=\"DiscordSRV\", LANG=\"en\", BRANCH=\"master\")</pre>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-">
                <h3>Examples:</h3>
                <a href="https://config.granny.dev/DiscordSRV/DiscordSRV/master/config/en/ConfigVersion">https://config.granny.dev/DiscordSRV/DiscordSRV/master/config/en/ConfigVersion</a><br>
                <pre>(Full Path)</pre>
                <a href="https://config.granny.dev/master/config/en/ConfigVersion">https://config.granny.dev/master/config/en/ConfigVersion</a><br>
                <pre>(Assuming ORG=\"DiscordSRV\", PROJECT=\"DiscordSRV\")</pre>
                <a href="https://config.granny.dev/master/config/ConfigVersion">https://config.granny.dev/master/config/ConfigVersion</a><br>
                <pre>(Assuming ORG=\"DiscordSRV\", PROJECT=\"DiscordSRV\", LANG=\"en\")</pre>
                <a href="https://config.granny.dev/config/ConfigVersion">https://config.granny.dev/config/ConfigVersion</a>
                <pre>(Assuming ORG=\"DiscordSRV\", PROJECT=\"DiscordSRV\", LANG=\"en\", BRANCH=\"master\")</pre>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>